option_settings:
  aws:elasticbeanstalk:application:environment:
    HOST: 
    PORT: 
    KAKAO_REST_API_KEY: 
    KAKAO_CLIENT_ID: 
    KAKAO_REDIRECT: 
    OPEN_API_KEY: 
    JWT_SECRET_KEY: 
    AWS_ACCESS_KEY: 
    AWS_SECRET_KEY: 
    DATABASE_URI: 
    DATABASE_NAME: 
    DATABASE_PASSWORD:
    LOG_LEVEL: 