option_settings:
  - namespace: aws:elasticbeanstalk:healthreporting:system
    option_name: ConfigDocument
    value: {
      "Rules": {
        "Environment": {
          "Application": {
            "ApplicationRequests4xx": {
              "Enabled": false
            }
          }
        }
      },
      "Version": 1
    }